@font-face {
	font-family: FuturaLight;
	src: url("../fonts/Futura-T-OT-Book_19064.ttf");
}

@font-face {
	font-family: ProximaNovaAltLight;
	src: url("../fonts/Mark Simonson - Proxima Nova Alt Light.otf");
}