/**
 * Functions
 */

/**
 * Math
 */

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@function get-unit($value) {
	@return ($value * 0 + 1);
}

@function power ($x, $n) {
    $ret: 1;
    $unit: get-unit($x);
    $x: strip-unit($x);
    
    @if $n >= 0 {
        @for $i from 1 through $n {
            $ret: $ret * $x;
        } 
    } @else {
        @for $i from $n to 0 {
            $ret: $ret / $x;
        }
    }
    
    @return $ret * $unit;
}

@function factorial ($x) {
    $ret: 1;
    
    @if $x > 0 {
        @while $x > 0 {
            $ret: $ret * $x;
            
            $x: $x - 1;
        }
    }
    
    @return $ret;
}

@function sin ($x) {
    $ret: 0;
    
    @for $n from 0 to 25 {
        $ret: $ret + power(-1, $n) * power($x, 2 * $n + 1) / factorial(2 * $n + 1);
    }

    @return $ret;
}

@function cos ($x) {
    $ret: 0;
    
    @for $n from 0 to 25 {
        $ret: $ret + power(-1, $n) * power($x, 2 * $n) / factorial(2 * $n);
    }

    @return $ret;
}

@function exp ($x) {
    $ret: 0;
    
    @for $n from 0 to 25 {
        $ret: $ret + power($x, $n) / factorial($n);
    }
    
    @return $ret;
}

@function ln($x) {
    $ret: 0;
    $n: 1;
    $dx: .001;
    
    @while $n <= $x {
        $ret: $ret + $dx / $n;
        
        $n: $n + $dx;
    }
    
    @return $ret;
}

@function sqrt($x) {    
    @return exp(0.5 * ln($x));
}

/**
 * Converters
 */

@function calc-lh-from-fs($font-size) {
	@return ($font-size * $golden-ratio);
}

@function calc-lw-from-fs($font-size) {
	@if(get-unit($font-size) == 1rem)  {
		@return 65rem;
	}
	@else {
		@return power($font-size * $golden-ratio, 2);
	}
}

@function px-to-rem($px-size) {
	@return ($px-size / (16.0px)) * 1.0rem;
}