@mixin transform($trans) {
	-webkit-transform: $trans;
	-moz-transform: $trans;
	-ms-transform: $trans;
	transform: $trans;
}

@mixin linear-gradient($col1, $col2, $img:"") {
	background: -webkit-linear-gradient($col1, $col2), $img;
	background: -o-linear-gradient($col1, $col2), $img;
	background: -moz-linear-gradient($col1, $col2), $img;
	background: linear-gradient($col1, $col2), $img;
}

@mixin transition($time, $ease) {
	-webkit-transition-timing-function: $ease;
	-moz-transition-timing-function: $ease;
	-ms-transition-timing-function: $ease;
	-o-transition-timing-function: $ease;
	transition-timing-function: $ease;
	-moz-transition: $time;
	-webkit-transition: $time;
	-o-transition: $time;
	transition: $time;
}

@mixin box-shadow($h,$v,$color,$blur:"",$spread:"") {
	-webkit-box-shadow: $h $v unquote($blur) unquote($spread) $color;
	-moz-box-shadow: $h $v unquote($blur) unquote($spread) $color;
	-ms-box-shadow: $h $v unquote($blur) unquote($spread) $color;
	-o-box-shadow: $h $v unquote($blur) unquote($spread) $color;
	box-shadow: $h $v unquote($blur) unquote($spread) $color;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin appearance($ap) {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

@mixin text-shadow($h,$v,$color,$blur:"") {
	-webkit-text-shadow: $h $v unquote($blur) $color;
	-moz-text-shadow: $h $v unquote($blur) $color;
	-ms-text-shadow: $h $v unquote($blur) $color;
	-o-text-shadow: $h $v unquote($blur) $color;
	text-shadow: $h $v unquote($blur) $color;
}

@mixin font-size($font-size) {
	font-size: $font-size;
 	line-height: calc-lh-from-fs($font-size);
 	//max-width: calc-lw-from-fs($font-size);
}

@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin align-vert() {
	position: absolute;
	top: 50%;
	@include transform(translate(0%,-50%));
}

@mixin align-hor() {
	position: absolute;
	left: 50%;
	@include transform(translate(-50%,0%));
}

@mixin align-center() {
	position: absolute;
	left: 50%;
	top: 50%;
	@include transform(translate(-50%,0%));
}

@mixin animation-name($name) {
	-webkit-animation-name: $name;
	-moz-animation-name: $name;
	-ms-animation-name: $name;
	-o-animation-name: $name;
	animation-name: $name;
}

@mixin animation-iteration-count($count) {
	-webkit-animation-iteration-count: $count;
	-moz-animation-iteration-count: $count;
	-ms-animation-iteration-count: $count;
	-o-animation-iteration-count: $count;
	animation-iteration-count: $count;
}

@mixin animation-timing-function($function) {
	-webkit-animation-timing-function: $function;
	-moz-animation-timing-function: $function;
	-ms-animation-timing-function: $function;
	-o-animation-timing-function: $function;
	animation-timing-function: $function;
}

@mixin animation-duration($duration) {
	-webkit-animation-duration: $duration;
	-moz-animation-duration: $duration;
	-ms-animation-duration: $duration;
	-o-animation-duration: $duration;
	animation-duration: $duration;
}

@mixin animation-delay($delay) {
	-webkit-animation-delay: $delay;
	-moz-animation-delay: $delay;
	-ms-animation-delay: $delay;
	-o-animation-delay: $delay;
	animation-delay: $delay;
}

@mixin opacity($o) {
	opacity: $o / 100;
	filter: alpha(opacity=$o);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}