.nav-btn {
	padding-left: 40px;
	font-size: $base-font-size;
	color: $color-white;
}

.nav-btn-holder {
	text-align: right;
	float: right;
	line-height: 66px;
}

.btn-flat-dark-grey {
	background-color: $color-dark-grey;
	width: 100%;
	line-height: 40px;
	font-size: $base-font-size;
	color: $color-white;
	display: inline-block;
	border-width: $border-width-default;
	border-color: $color-dark-grey;
	border-style: solid;
	text-align: center;
	margin: $margin-default-v 0px;
}

.btn-flat-dark-grey:hover {
	background-color: $color-white;
	color: $color-dark-grey;
}

.btn-flat-black {
	background-color: $color-black;
	width: 100%;
	line-height: 40px;
	font-size: $base-font-size;
	color: $color-white;
	display: inline-block;
	border-width: $border-width-default;
	border-color: $color-black;
	border-style: solid;
	text-align: center;
	margin: $margin-default-v 0px;
}

.btn-flat-black:hover {
	background-color: transparent;
	color: $color-black;
}

.btn-flat-black-wh {
	background-color: $color-black;
	width: 100%;
	line-height: 40px;
	font-size: $base-font-size;
	color: $color-white;
	display: inline-block;
	border-width: $border-width-default;
	border-color: $color-black;
	border-style: solid;
	text-align: center;
	margin: $margin-default-v 0px;
}

.btn-flat-black-wh:hover {
	background-color: transparent;
	color: $color-white;
	border-color: $color-white;
}

.btn-flat-white-trans {
	background-color: transparent;
	width: 100%;
	line-height: 40px;
	font-size: $base-font-size;
	color: $color-white;
	display: inline-block;
	border-width: $border-width-default;
	border-color: $color-white;
	border-style: solid;
	text-align: center;
	margin: $margin-default-v 0px;
}

.btn-flat-white-trans:hover {
	background-color: $color-white;
	color: $color-black;
	border-color: $color-white;
}

.btn-flat-dark-grey-inv {
	@extend .btn-flat-dark-grey;
	color: $color-dark-grey;
	background-color: transparent;
}

.btn-flat-dark-grey-inv:hover {
	color: $color-white;
	background-color: $color-dark-grey;
}

.btn-flat-black-inv {
	@extend .btn-flat-dark-grey;
	color: $color-black;
	background-color: transparent;
}

.btn-flat-black-inv:hover {
	color: $color-white;
	background-color: $color-black;
}

.btn-group-standard :nth-child(n) {
	@include border-radius(0px);
	border-right-width: 0px;
	border-left-width: $border-width-default;
}

.btn-group-standard :first-child {
	@include border-radius($border-radius-default 0px 0px $border-radius-default);
	border-left-width: $border-width-default;
}

.btn-group-standard :last-child {
	@include border-radius(0px $border-radius-default $border-radius-default 0px);
	border-left-width: $border-width-default;
	border-right-width: $border-width-default;
}

.scroll-down {
	font-size: $font-size-xxl;
	position: absolute;
	bottom: 44px;
}